@media only screen and (max-width: 1900px) {
  .home-bnr-ad {
   top: 100px;
    right: 730px;
    position: absolute;
    text-align: left;
    z-index: 300;
    padding-top: 0;
    margin-top: -50px;
    width: 540px;
  }
  .top-deals-con {
    margin-top: -100px !important;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
    width: 100%;
  }
	
}
@media only screen and (max-width: 1439px) {

  .top-deals-con {
    margin-top: -80px !important;
  }
  .home-bnr-ad {
    top: 80px;
    right: 470px;
    position: absolute;
    width: 500px;
    height: 361px;
    text-align: left;
    z-index: 300;
    padding-top: 0;
    margin-top: -30px;
  }
  .view {
    width: 22.2%;
  }
  .home-bnr {
    margin-bottom: 50px;
    margin-top: -400px;
  }
  .text-search {
    font-size: 22px !important;
    color: #000;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
  }
		.form {
	margin-top: -370px;
    width: 470px;

}
}
@media only screen and (max-width: 1023px) {
  .navbar-nav {
    float: right;
    margin-top: 15px;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 9px;
    color: #FFF;
  }
  .vaccation-bg .vac-left img {
    width: 100%;
    padding-top: 80px;
  }
  .top-deals-con {
    position: relative;
    margin-top: -80px !important;
    z-index: 98;
  }
  .view {
    background: #fff !important;
    width: 45% !important;
    padding-left: 20px;
	  padding-right: 20px
  }
  .text-map {
    text-aling: center !important;
    font-size: 22px;
    padding-top: 20px;
    padding-left: 29px;
    padding-right: 30px;
  }
  .navbar-brand {
    padding-bottom: 5px;
    width: 150px;
  }
  .navbar-brand {
    padding: 5px 0 5px 0;
    float: left;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }
  .home-bnr {
    margin-bottom: 50px;
    margin-top: -400px;
  }
  h1 {
    font-size: 26px !important;
    color: #000 !important;
    /*text-align: center;
	text-shadow: 3px 2px #000;*/
    font-weight: 600;
  }
  .renta {
    margin-top: 0 !important;
  }
  .home-bnr-ad {
    top: 1px;
    right: 1px;
    position: relative;
    width: 500px;
    height: 361px;
    text-align: left;
    z-index: 300;
    padding-top: 0;
    margin: -130px 0 0 0;
  }
  .banner-ad-con p {
    font-size: 18px;
    text-align: left;
    color: #000;
  }
  
	  .form {
    margin-top: 50px !important;
    width: 100%;
    height: 100%;
		  padding-bottom: 50px;
	  }
	  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: none !important;
}
	  	.cascoon-root .cascoon-form-datepicker__popup {
    margin-top: -200px !important;
    margin-left: 0px !important;
	position: inherit !important;
			
}
	.tollfree {
      
      padding: 10px 0 10px 10px;
	}
	  
			

}
  @media only screen and (max-width: 767px) {
    .top-deals-con {
      position: relative;
      margin-top: 0 !important;
      z-index: 98;
    }
    .view {
      background: #fff !important;
      width: 100% !important;
      
    }
    .text-map {
      text-aling: center !important;
      font-size: 22px;
      padding-top: 20px;
      padding-left: 29px;
      padding-right: 30px;
    }
    .navbar-brand {
      padding-bottom: 5px;
    }
    .navbar-brand {
      padding: 5px 0 5px 0;
      float: left;
      width: 0%;
      text-align: center;
      margin: 0 auto;
      position: relative;
    }
    .home-bnr {
      margin-bottom: 50px;
      margin-top: -450px;
    }
    h1 {
      font-size: 26px !important;
      color: #000 !important;
      text-align: center;
      /*text-shadow: 3px 2px #000;*/
      font-weight: 600;
    }
    .renta {
      margin-top: 0 !important;
    }
    .home-bnr-ad {
      top: 1px;
      right: 1px;
      position: relative;
      width: 500px;
      height: 361px;
      text-align: left;
      z-index: 300;
      padding-top: 0;
      margin: -130px 0 0 0;
    }
    .banner-ad-con p {
      font-size: 18px;
      text-align: left;
      color: #000;
    }
 
	   .form {
    margin-top: 50px !important;
    width: 100%;
    height: 100%;
	  }
	  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: none !important;
}
	  	.cascoon-root .cascoon-form-datepicker__popup {
    margin-top: -200px !important;
    margin-left: 0px !important;
	position: inherit !important;
			
}
  }
  @media only screen and (max-width: 424px) {
    .top-deals-con {
      position: relative;
      margin-top: 0 !important;
      z-index: 98;
    }
    .view {
      background: #fff !important;
      width: 100% !important;
      
    }
    .text-map {
      text-aling: center !important;
      font-size: 22px;
      padding-top: 20px;
      padding-left: 29px;
      padding-right: 30px;
    }
    .navbar-brand {
      padding-bottom: 5px;
    }
    .navbar-brand {
      padding: 5px 0 5px 0;
      float: left;
      width: 72%;
      text-align: center;
      margin: 0 auto;
      position: relative;
    }
    .home-bnr {
      margin-bottom: 50px;
      margin-top: -450px;
    }
    h1 {
      font-size: 26px !important;
      color: #000 !important;
      text-align: center;
      /*text-shadow: 3px 2px #000;*/
      font-weight: 600;
    }
    .renta {
      margin-top: 0 !important;
    }
    .home-bnr-ad {
      top: 1px;
      right: 1px;
      position: relative;
      width: 500px;
      height: 361px;
      text-align: left;
      z-index: 300;
      padding-top: 0;
      margin: -100px 0 0 0;
    }
    .banner-ad-con p {
      font-size: 18px;
      text-align: left;
      color: #000;
    }
    .home-bnr-ad {
      top: 1px;
      right: 1px;
      position: relative;
      width: 500px;
      height: 361px;
      text-align: left;
      z-index: 300;
      padding-top: 0;
      margin: -130px 0px 0 0px;
    }
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      display: none;
      max-width: none;
      height: auto;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      line-height: 1;
    }
    .wel {
      display: inherit;
      font-size: 29px !important;
      font-weight: 700;
      color: #fff !important;
      text-align: center !important;
      text-shadow: 3px 2px #000;
      display: none;
    }
    .home-bnr-flight {
      margin-top: -450px;
    }
    .form1 {
      display: none;
    }
    .container {
      padding-right: 10px;
      padding-left: 10px;
      width: auto;
    }
    .cascoon-app .cascoon-tabs-buttons {
      background: #000 !important;
    }
    .carousel-inner {
      height: 500px;
    }
	  .form {
    margin-top: 50px !important;
    width: 100%;
    height: 100%;
	  }
	.cascoon-root .cascoon-form-datepicker__popup {
    margin-top: -250px !important;
    margin-left: unset !important;
		position: inherit !important;
}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: none !important;
}
  }
  @media only screen and (max-width: 374px) {
    .top-deals-con {
      position: relative;
      margin-top: 0 !important;
      z-index: 98;
    }
    .view {
      background: #fff !important;
      width: 100% !important;
      padding-left: 20px;
		padding-right: 20px
    }
    .text-map {
      text-aling: center !important;
      font-size: 22px;
      padding-top: 20px;
      padding-left: 29px;
      padding-right: 30px;
    }
    .navbar-brand {
      padding-bottom: 5px;
    }
    .navbar-brand {
      padding: 5px 0 5px 0;
      float: left;
      width: 72%;
      text-align: center;
      margin: 0 auto;
      position: relative;
    }
    .home-bnr {
      margin-bottom: 50px;
      margin-top: -450px;
    }
    h1 {
      font-size: 26px !important;
      color: #000 !important;
      text-align: center;
      /*text-shadow: 3px 2px #000;*/
      font-weight: 600;
    }
    .renta {
      margin-top: 0 !important;
    }
    .home-bnr-ad {
      top: 1px;
      right: 1px;
      position: relative;
      width: 500px;
      height: 361px;
      text-align: left;
      z-index: 300;
      padding-top: 0;
      margin: -80px 0 0 0;
    }
    .banner-ad-con p {
      font-size: 18px;
      text-align: left;
      color: #000;
    }
    .navbar-brand img {
      width: 180px;
    }
    .tollfree {
      float: right;
      text-align: right;
      padding: 10px 10px 10px 10px;
      border-left: 1px solid #8a0f13;
    }
    .nav {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }
    .navbar-nav {
      float: inherit;
      margin-top: 15px;
    }
    .navbar-inverse .navbar-nav > li > a {
      font-size: 14px;
      color: #000;
    }
    .navbar-collapse {
      padding-right: 0;
      padding-left: 0;
      overflow-x: visible;
      -webkit-overflow-scrolling: touch;
      border-top: 1px solid transparent;
      -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
      box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      border-color: #101010;
    }
    .navbar-collapse.in {
      overflow-y: auto;
    }
    .collapse.in {
      display: block;
      visibility: visible;
    }
    *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      background: none;
    }
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
    .navbar-toggle {
      padding: 18px 8px 19px 8px;
      margin-top: 0;
    }
    .navbar-toggle {
      position: relative;
      float: left;
      padding: 18px 8px 19px 8px;
      margin: 0;
      border-right: 1px solid #8a0f13 !important;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      /* border-radius: 4px; */
    }
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      display: none;
      max-width: none;
      height: auto;
    }
    .home-bnr-ad {
      top: 1px;
      right: 1px;
      position: relative;
      width: 500px;
      height: 361px;
      text-align: left;
      z-index: 300;
      padding-top: 0;
      margin: -130px 0px 0 0px;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      line-height: 1;
    }
    .wel {
      display: inherit;
      font-size: 29px !important;
      font-weight: 700;
      color: #fff !important;
      text-align: center !important;
      text-shadow: 3px 2px #000;
      display: none;
    }
    .home-bnr-flight {
      margin-top: -450px;
    }
    .form1 {
      display: none;
    }
    .container {
      padding-right: 10px;
      padding-left: 10px;
      width: auto;

    }
    .cascoon-app .cascoon-tabs-buttons {
      background: #000 !important;
    }
    .carousel-inner {
      height: 500px;
    }
    .form {
    margin-top: 50px !important;
    width: 100%;
    height: 100%;
	  }
	.cascoon-root .cascoon-form-datepicker__popup {
    margin-top: -250px !important;
    margin-left: unset !important;
		position: inherit !important;
}

	  .cascoon.cascoon-4044.cascoon-4044_0 {
    max-width: 100% !important;
}
	  .cascoon.cascoon-4044.cascoon-4044_1 {
    max-width: 100% !important;
}
	  .cascoon.cascoon-4044.cascoon-4044_2 {
    max-width: 100% !important;
}
	  .cascoon.cascoon-4044.cascoon-4044_3 {
    max-width: 100% !important;
}
	
	}
  