/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {

}
@media only screen and (max-width : 1200px) {
	select {
	padding-left:5px !important;
	background:#fff url(../images/select-arrow.png) no-repeat right 0px center !important;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 1024px) {
.navbar-brand{
    padding-top:5px;
    width: 36%;

}
    .form-group.searchwidth{width:100%;}
.mob-no-pad{
	padding-left:0px !important;
	padding-right:0px !important;
}
.age-bx .mob-no-pad{
	padding-left:1px !important;
	padding-right:1px !important;
}
.mob-no-pad-l{
	padding-left:0px !important;
}
.no-pad{
	padding-left:15px;
	padding-right:15px;
}
.no-pad-l{
	padding-left:15px;
	padding-right:15px;
}
.no-pad-r{
	padding-left:15px;
	padding-right:15px;
}
.room-bx label{
	font-size:10px;
}
.h-search-but.pull-right{
	float:none !important;
}
.h-search-but{
	width:100%;
}
.hs-con{
	padding:16px;
}
.hotel-search-bx h1{
	font-size:18px;
}
.h-banner{
	min-height:433px;
}
.col-bx{
	margin-bottom:20px;
}
.newsletter .form-inline{
	margin-top:0px;
	border-radius:4px;
}
.newsletter{
	padding-top:0px;
}
.newsletter .form-control{
	border-radius:4px;
}
.subscribe-but{
	border-radius:4px;
}
.remove-room{
	padding-top:0px;
	
}
.room-bx h6{
	padding-top:0px;
}
.modify-search-but{
	float:none;
	width:100%;
}
.search-form-result p{
	border-bottom:1px #CCCCCC dotted;
	padding-bottom:6px;
	font-size:13px;
}
.sb-img-holder{
	margin-left:0px;
	margin-top:0px;
}
.short-dtls{
	padding:15px;
}
.fac-type{
	padding-bottom:2px;
	padding-top:2px;
	/*border-bottom:1px #CCCCCC dotted;*/
}
.sb-booknow-but{
	padding:7px 25px;
	
}

#filter-mob{
	position:fixed;
	width:300px;
	height:100%;
	z-index:1000;
	top:0px;
	left:-300px;
	/*display:none;*/
	overflow:scroll;
    z-index:500;
    background-color:#fff;
}
.search-result-con{position:relative; padding-top:0px;}
.search-result-bx .col-sm-6{width:49.3%;}

.filter-but{
	width:29px;
	height:24px;
	background:#fff url(../../images/hotel-new/mob-filter-imgs.png) no-repeat -37px center;
	text-align:center;
	padding:0px;
	color:#fff;
	position:absolute;
	top:17px;
	right:4px;
	z-index:30;
	cursor:pointer;
	display:block;
    border:1px #b6b6b6 solid;
    border-radius:3px;
}
.close-but{
	width:60px;
	height:30px;
	background-color:green;
	text-align:center;
	padding:5px;
	color:#fff;
	position:absolute;
	top:10px;
	right:10px;
	z-index:2000;
	cursor:pointer;
	display:block;
    border-radius:3px;
    font-weight:600;
}
.hd-price{
	text-align:left;
}
.hd-oldprice{
	text-align:left;
}
.bpg-txt{
	text-align:left;
}
.mar-top{
	margin-top:5px;
}
.hotel-dtls-nav li{
	margin-top:5px;
}
.mob-but{
	text-align:center;
}
.mob-but .orng-button{
	width:80%;
	margin-bottom:10px;
}
.mob-policy-row{
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:1px #CCCCCC dotted;
}
.room-img-holder{
	margin-bottom:10px;
	margin-top:5px;
}
.list-bx-head{
	display:none;
}
.room-name{
	padding-bottom:10px;
	font-size:16px;
	font-weight:600;
    padding-left:12px;
    text-align:center !important;
}
.room-aminities{
	margin-top:10px !important;
	margin-bottom:10px !important;
}
.room-mob-head{
	background-color: #efefef;
	border: 1px #e3e1e1 solid;
	padding: 10px;
	font-size: 12px;
	color: #000;
	font-weight: 600;
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
#carousel{
	display:none;
}
#slider{
	margin-bottom:15px;
}
.single-review-bx{
	position:relative;
	top:0px;
	margin-bottom:10px;
	margin-top:10px;
}
.hotel-review-bx{
	padding:10px 0px 20px 0px;
	border-bottom: 1px #e3e1e1 solid;
	border-right:0px;
}
.review-row{
	border:0px;
}
.hdtls-fixed{
 top:-270px;
} 
.rev-pax-bx p span{
	display:block;
}
.rev-pax-dtls{
	padding-left:15px;
	padding-top:15px;
}
.rev-dtls-right{
	border-left:0px;
	border-top:1px #d1d1d1 solid;
	margin-top:10px;
	padding-top:15px;
	padding-right:15px;
}
.payment-con{
	padding:0px;
}
.payment-con .panel-default{border:0px;}
.card-con{margin-top:0px;}
.rate-bx{text-align:center;}
.mob-nb{padding:10px}
.mob-nb-h{padding-left:8px; padding-top:10px;}
.sr-fixed{
	position:static;
}

.no-radius-right{
	border-top-right-radius:2px !important;
	border-bottom-right-radius:2px !important;
	border-right:1px #CCCCCC solid !important;
}
.no-radius-left{
	border-top-left-radius:2px !important;
	border-bottom-left-radius:2px !important;
	border-left:1px #CCCCCC solid !important;
}
.no-radius{
	border-radius:2px !important;
}
.search-form-result .col-xs-4 {
    width: 31.33333333%;
}
.room-list-bx .col-sm-4{
	padding-left:15px !important;
	padding-right:15px !important;
}
.com-box-inner .col-sm-4{
	padding-left:15px !important;
	padding-right:15px !important;
}
.hdtls-tab-con {
    width: 254px;
    position: absolute;
    bottom: 0;
    left: 2px;
    margin-top: 4px;
}
.room-price{
	text-align:center;
}
.orng-button{
	margin: 0 auto;
	width: 100px;
	display: block;
}
.confirm-page-wrap .left-h{
	float:none !important;
	display:block;
	text-align:center;
	margin:0px !important;
}
.confirm-page-wrap .right-h{
	float:none !important;
	display:block;
	text-align:center;
}
.confirm-page-wrap .right-h span{
	font-size:18px;
}
.chotel-img img{width:100%; margin-top:15px;}
.chonel-name{font-size:20px;}
.roompax{font-size:13px;}
.cterms{padding-left:0px; border:0px; margin-top:10px;}
.net-price{padding-top:0px;}
.net-price span{font-size:18px; }
.dterms{padding-left:0px; border:0px; padding-top:15px;}
.chotel-total-price{padding:0px;}
.paynow-section .room-del-link{margin-top:0px;}
.paynow-section .sb-booknow-but{
	padding-top:4px;
	width:100%;
}
.chotel-total-price{position:relative; padding-bottom:30px; padding-top:10px;}
.room-del-link{position:absolute; bottom:-52px; left:12px; width:150px;}
.confirm-form .col-sm-4{padding-left:15px !important; }
.m-empty-cart{bottom:-160px;width:250px; left:0px; right:0px; margin:0 auto;}
.paynow-section .sb-booknow-but{margin-left:0px}
.room-mob-head{display:none;}
.search-form-result .col-sm-6{
    width:48%;
}
.mob-row {

    padding-left: 15px;
    padding-right: 15px;

}

.modify-search-but{position:static; margin-top:12px;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
.mob-no-pad{
	padding-left:0px !important;
	padding-right:0px !important;
}
.age-bx .mob-no-pad{
	padding-left:1px !important;
	padding-right:1px !important;
}
.mob-no-pad-l{
	padding-left:0px !important;
}
.mob-no-pad-r{
	padding-right:0px !important;
}
.no-pad{
	padding-left:15px;
	padding-right:15px;
}
.no-pad-l{
	padding-left:15px;
	padding-right:15px;
}
.no-pad-r{
	padding-left:15px;
	padding-right:15px;
}
.room-bx label{
	font-size:10px;
}
.h-search-but.pull-right{
	float:none !important;
}
.h-search-but{
	width:100%;
}
.hs-con{
	padding:16px;
}
.hotel-search-bx h1{
	font-size:18px;
}
.h-banner{
	min-height:433px;
}
.col-bx{
	margin-bottom:20px;
}
.newsletter .form-inline{
	margin-top:0px;
	border-radius:4px;
}
.newsletter{
	padding-top:0px;
}
.newsletter .form-control{
	border-radius:4px;
}
.subscribe-but{
	border-radius:4px;
}
.remove-room{
	padding-top:0px;
	
}
.room-bx h6{
	padding-top:0px;
}
.remove-room{
	position:absolute;
	top: -105px;
	right: 21px;
}
.modify-search-but{
	float:none;
	width:100%;
}
.search-form-result p{
	border-bottom:1px #CCCCCC dotted;
	padding-bottom:6px;
	font-size:13px;
}
.sb-img-holder{
	margin-left:0px;
	margin-top:0px;
}
.short-dtls{
	padding:15px 15px 0px 15px;
}
.fac-type{
	padding-bottom:10px;
	padding-top:10px;
	/*border-bottom:1px #CCCCCC dotted;*/
    width:33%;
    float:left;
    font-size:12px;
}
.sb-list-booknow-but{
    width:40%;
    float:left;
    margin-top:2px;
	
}
.result-found{position:relative;}
#filter-mob{
	position:fixed;
	width:300px;
	height:100%;
	z-index:1000;
	top:0px;
	left:-300px;
	/*display:none;*/
	overflow:scroll;
    z-index:500;
    background-color:#fff;
}
.search-result-con{position:relative;}
.search-result-bx .col-sm-6 {

    width:100%;

}
.filter-but{
	width:29px;
	height:24px;
	background:#fff url(../../images/hotel-new/mob-filter-imgs.png) no-repeat -37px center;
	text-align:center;
	padding:0px;
	color:#fff;
	position:absolute;
	top:17px;
	right:35px;
	z-index:30;
	cursor:pointer;
	display:block;
    border:1px #b6b6b6 solid;
    border-radius:3px;
}
.modify-but{
    width:29px;
	height:24px;
	background:#fff url(../../images/hotel-new/mob-filter-imgs.png) no-repeat 2px center;
	text-align:center;
	padding:0px;
	color:#fff;
	position:absolute;
	top:-45px !important;
	right:0px;
	z-index:30;
	cursor:pointer;
	display:block;
    border:1px #b6b6b6 solid;
    border-radius:3px;
    text-indent:-9999px;
}
.filter-close-but{
	width:30px;
	height:30px;
	background-color:#C30;
	text-align:center;
	padding-top:5px;
	color:#fff;
	position:absolute;
	top:0px;
	right:0px;
	z-index:2000;
	cursor:pointer;
	display:block;
}
.hd-price{
	text-align:left;
}
.hd-oldprice{
	text-align:left;
}
.bpg-txt{
	text-align:left;
}
.mar-top{
	margin-top:5px;
}
.hotel-dtls-nav li{
	margin-top:5px;
}
.mob-but{
	text-align:center;
}
.mob-but .orng-button{
	width:80%;
	margin-bottom:10px;
}
.mob-policy-row{
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:1px #CCCCCC dotted;
}
.room-img-holder{
	margin-bottom:10px;
	margin-top:5px;
}
.list-bx-head{
	display:none;
}
.room-name{
	padding-bottom:10px;
	font-size:16px;
	font-weight:600;
    padding-left:12px;
}
.room-aminities{
	margin-top:10px !important;
	margin-bottom:10px !important;
}
.room-mob-head{
	background-color: #efefef;
	border: 1px #e3e1e1 solid;
	padding: 10px;
	font-size: 12px;
	color: #000;
	font-weight: 600;
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
#carousel{
	display:none;
}
#slider{
	margin-bottom:15px;
}
.single-review-bx{
	position:relative;
	top:0px;
	margin-bottom:10px;
	margin-top:10px;
}
.hotel-review-bx{
	padding:10px 0px 20px 0px;
	border-bottom: 1px #e3e1e1 solid;
	border-right:0px;
}
.review-row{
	border:0px;
}
.hdtls-fixed{
 top:-270px;
} 
.rev-pax-bx p span{
	display:block;
}
.rev-pax-dtls{
	padding-left:15px;
	padding-top:15px;
}
.rev-dtls-right{
	border-left:0px;
	border-top:1px #d1d1d1 solid;
	margin-top:10px;
	padding-top:15px;
	padding-right:15px;
}
.payment-con{
	padding:0px;
}
.payment-con .panel-default{border:0px;}
.card-con{margin-top:0px;}
.rate-bx{text-align:center;}
.mob-nb{padding:10px}
.mob-nb-h{padding-left:8px; padding-top:10px;}
.sr-fixed{
	position:static;
}

.no-radius-right{
	border-top-right-radius:2px !important;
	border-bottom-right-radius:2px !important;
	border-right:1px #CCCCCC solid !important;
}
.no-radius-left{
	border-top-left-radius:2px !important;
	border-bottom-left-radius:2px !important;
	border-left:1px #CCCCCC solid !important;
}
.no-radius{
	border-radius:2px !important;
}
.search-form-result .col-xs-4 {
    width: 33.33333333%;
}
.room-list-bx .col-sm-4{
	padding-left:15px !important;
	padding-right:15px !important;
}
.com-box-inner .col-sm-4{
	padding-left:15px !important;
	padding-right:15px !important;
}
.hdtls-tab-con {
    width: 254px;
    position: absolute;
    bottom: 0;
    left: 2px;
    margin-top: 4px;
    display:none;
}
.room-price{
	text-align:center;
}
.orng-button{
	margin: 0 auto;
	width: 100px;
	display: block;
}
.price-pop{
	width:350px;
}
.deal-applied{
    display:none;
}
.tripadvisor-con{
    display:none;
}
.sb-facilities{
    margin-top:0px;
}
.price-txt{
    width:50%;
    float:left;
}
 .sb-price-bx {
     padding-top:10px;
     min-height:94px;
 }
 .room-dtls-link{
     width:100%;
     border-radius:0px;
 }
 .inner-wrapper-sticky{
     position:static !important;
 }
 .search-result-bx{
     border-color:#5d5d5f !important;
 }
 .rooms-list-wrap .panel-title a{
     background: url(../../images/hotel-new/collapse-arrow-up.png) no-repeat right 8px center;
 }
 .rev-dtls {
    
    padding-left: 15px;
    padding-right: 15px;

}
 .rev-dtls-right{
     min-height:74px;
     padding-left:0px;
 }

 .mob-row{ padding-left:15px; padding-right:15px;}
 .modify-search-but{position:static !important;}
 .sort-options{font-size:12px;}
 .result-head{font-size:12px;}
 .modify-but{top:-50px;}
 .search-result-con{padding-top:0px;}
 .room-list-bx .room-name{text-align:center;}
 .room-mob-head{text-align:center;}
 .search-form-result .col-sm-6 {

    width: 100%;

}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
.mob-no-pad{
	padding-left:0px !important;
	padding-right:0px !important;
}
.age-bx .mob-no-pad{
	padding-left:1px !important;
	padding-right:1px !important;
}
.mob-no-pad-l{
	padding-left:0px !important;
}
.mob-no-pad-r{
	padding-right:0px !important;
}
.no-pad{
	padding-left:15px;
	padding-right:15px;
}
.no-pad-l{
	padding-left:15px;
	padding-right:15px;
}
.no-pad-r{
	padding-left:15px;
	padding-right:15px;
}
.room-bx label{
	font-size:10px;
}
.h-search-but.pull-right{
	float:none !important;
}
.h-search-but{
	width:100%;
}
.hs-con{
	padding:16px;
}
.hotel-search-bx h1{
	font-size:18px;
}
.h-banner{
	min-height:433px;
}
.col-bx{
	margin-bottom:20px;
}
.newsletter .form-inline{
	margin-top:0px;
	border-radius:4px;
}
.newsletter{
	padding-top:0px;
}
.newsletter .form-control{
	border-radius:4px;
}
.subscribe-but{
	border-radius:4px;
}
.remove-room{
	padding-top:0px;
	
}
.room-bx h6{
	padding-top:0px;
}
.remove-room{
	position:absolute;
	top: -105px;
	right: 21px;
}
.modify-search-but{
	float:none;
	width:100%;
	margin-bottom:10px;
}
.search-form-result p{
	border-bottom:1px #CCCCCC dotted;
	padding-bottom:6px;
	font-size:13px;
}
.sb-img-holder{
	margin-left:0px;
	margin-top:0px;
}
.short-dtls{
	padding:15px 15px 0px 15px;
}
.fac-type{
	padding-bottom:10px;
	padding-top:10px;
	/*border-bottom:1px #CCCCCC dotted;*/
}
.sb-booknow-but{
	padding:7px 25px;
	
}
#filter-mob{
	position:fixed;
	width:300px;
	height:100%;
	z-index:1000;
	top:0px;
	left:-100%;
	display:none;
	overflow:scroll;
    background-color:#fff;
    z-index:1000;
}
.search-result-con{position:relative;}
.modify-but{top:-62px !important;}
.filter-close-but{
	width:30px;
	height:30px;
	background-color:#C30;
	text-align:center;
	padding-top:5px;
	color:#fff;
	position:absolute;
	top:0px;
	right:0px;
	z-index:2000;
	cursor:pointer;
	display:block;
}
.hd-price{
	text-align:left;
}
.hd-oldprice{
	text-align:left;
}
.bpg-txt{
	text-align:left;
}
.mar-top{
	margin-top:5px;
}
.hotel-dtls-nav li{
	margin-top:5px;
}

.mob-but{
	text-align:center;
}
.mob-but .orng-button{
	width:80%;
	margin-bottom:10px;
}
.mob-policy-row{
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:1px #CCCCCC dotted;
}
.room-img-holder{
	margin: 0 auto;
	object-fit:cover;
}
.list-bx-head{
	display:none;
}
.room-name{
	padding-bottom:10px;
	font-size:16px;
	font-weight:600;
    padding-left:12px;
}
.room-aminities{
	margin-top:10px !important;
	margin-bottom:10px !important;
}
.room-mob-head{
	background-color: #efefef;
	border: 1px #e3e1e1 solid;
	padding: 10px;
	font-size: 12px;
	color: #000;
	font-weight: 600;
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
#carousel{
	display:none;
}
#slider{
	margin-bottom:15px;
}
.single-review-bx{
	position:relative;
	top:0px;
	margin-bottom:10px;
	margin-top:10px;
}
.hotel-review-bx{
	padding:10px 0px 20px 0px;
	border-bottom: 1px #e3e1e1 solid;
	border-right:0px;
}
.review-row{
	border:0px;
}
.hdtls-fixed{
 top:-270px;
} 
.rev-pax-bx p span{
	display:block;
}
.rev-pax-dtls{
	padding-left:15px;
	padding-top:15px;
}
.rev-dtls-right{
	border-left:0px;
	border-top:1px #d1d1d1 solid;
	margin-top:10px;
	padding-top:15px;
	padding-right:15px;
}
.payment-con{
	padding:0px;
}
.payment-con .panel-default{border:0px;}
.card-con{margin-top:0px;}
.rate-bx{text-align:center;}
.mob-nb{padding:4px}
.mob-nb-h{padding-left:8px; padding-top:10px;}
.sr-fixed{
	position:static;
}

.no-radius-right{
	border-top-right-radius:2px !important;
	border-bottom-right-radius:2px !important;
	border-right:1px #CCCCCC solid !important;
}
.no-radius-left{
	border-top-left-radius:2px !important;
	border-bottom-left-radius:2px !important;
	border-left:1px #CCCCCC solid !important;
}
.no-radius{
	border-radius:2px !important;
}
.search-form-result .col-xs-4 {
    width: 33.33333333%;
}
.room-list-bx .col-sm-4{
	padding-left:15px !important;
	padding-right:15px !important;
}
.hdtls-tab-con {
    width: 254px;
    position: absolute;
    bottom: 0;
    left: 2px;
    margin-top: 4px;
}
.room-price{
	text-align:center;
}
.orng-button{
	margin: 0 auto;
	width: 100px;
	display: block;
}
.price-pop{
	width:300px;
}
}