/*--Global CSS--*/
body {font-family: 'Roboto', sans-serif; font-size:14px; color:#141c3a;}
a:active, a:hover, a:link, a:visited { outline:0;}
/*a.loading,
input.btn.loading,
button.loading,
a.loading:active,
input.btn.loading:active,*/
/*button.loading:active { color:#fff;
 background-color:#09a6da; border:none; background-image:linear-gradient(-45deg,rgba(255,255,255,0.3) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 75%,transparent 75%,transparent);transition:width .3s ease-in-out;background-size:50px 50px;-moz-animation:loading-stripes 2s infinite linear; animation:loading-stripes 2s infinite linear;cursor:default;box-shadow:none}
@-webkit-keyframes loading-stripes{0%{background-position:0 0}100%{background-position:50px 0}}
@-moz-keyframes loading-stripes {
0% {background-position:0 0; }
100% {background-position:50px 0; }
}*/

.marB20 {margin-bottom:20px;}
.inline-block {display:inline-block;}
.no-padding{padding:0}
/*.modalCalculation {position:fixed; top:0; left:0; background-color:#000; z-index:99; opacity:0.5; filter: alpha(opacity=80);-moz-opacity:0.8; min-height:100%; width:100%;}*/
.loadingDetail { display:none; left:40%; position:fixed;  top:40%; z-index:999999;}
.no-margin{margin:0}
.carousel {width:100%; margin:0 auto; /* center your carousel if other than 100% */ }
.fill, .mini-fill {background-position:center; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}
.error { background:#fff; padding:25px 20px 15px 20px; margin:25px auto; border:1px dashed #CCCCCC; border-radius:15px; }
.error-pg {color:#666; font-size:16px; overflow:hidden; padding:10px}
.error-left { float:left; width:55%; }
.error-left .btn.back-btn { width:200px; margin:0 auto; }
.error-right { float:right; text-align:right; margin:0 25px 0 0;  width:39%;}
.error-pg span {color:#09a6da;}

#sticky.stick {position:fixed; top:0; z-index:100; width:100%; border-bottom:1px solid #c3c3c3;}
.need-help .container h2 {background:none; text-transform:none; margin:20px 0}
.thank { text-align:center; font-size:15px;}
.thank span.name { color:#bb020a; text-transform:capitalize;}
.heighlight {font-weight:normal; font-size:20px; color:#000654; font-weight:400;}
.sub-heading {color:#da4500; font-weight:bold;}
.form-control {border:none; color:#000;}
.form-control::placeholder{color:#000;}
select.form-control {border:none;}
.form-control.loc {background:#fff url(../content/images/flt-icon.png)left 0 no-repeat; padding-left:45px}
.form-control.cal {background:#fff url(../content/images/cal-icon.png)left 0 no-repeat; padding-left:45px}
.form-control.des {background:#fff url(../content/images/loc-icon.png)left 0 no-repeat; padding-left:45px}

#view-deals { display:none; width:291px; position:relative;  background:url(../content/images/form-bg.png) center top no-repeat; z-index:99;  }
#view-deals .close1 { padding:17px 10px 0 0; position:absolute; cursor:pointer; right:4px; top:-2px}
#view-deals .heads { color:#FFF; border-radius:3px 3px 0 0; padding:8px 0 8px 10px; font-size:17px; margin:12px 0 0 0; background:#b1080e; border-bottom:1px solid #8c0e12; }
#view-deals .content-area { width:291px; border-radius:0 0 3px 3px; overflow:hidden; background:#000 url(../content/images/form-bg1.png) repeat;   padding:10px 10px 5px 10px; color:#c7c7c7; }
#view-deals .form-group { margin:0 0 8px 0!important;}
#view-deals .form-control.mid-dspc-lt { width:95%; float:left;}
#view-deals .form-control.mid-dspc-rt { width:95%; float:right;}
#view-deals .form-control.mid-dspc-slt { width:95%; float:left;}
#view-deals .form-control.mid-dspc-srt { width:95%; float:right;}
#view-deals .content-area .autowidth { width:100%;  margin:0 0 8px 0}
#view-deals .content-area .smallwidth { width:32.5%; display:inline-block; margin:0 2px 8px 0}
#view-deals .content-area label { color:#fff!important; font-size:12px; display:inline-block;}
#view-deals .inf-space { padding:0 0 0 5px;}

.inst-call {position:fixed; bottom:0; right:36.5%; z-index:99999; background:#0f3d83 url(../content/images/inst-call.png) 8px 8px no-repeat; border-radius:6px 6px 0 0; height:44px; width:300px; padding:0 0 45px 100px; display:none;}
.inst-call .form-control.ph {background:#FFF url(../content/images/ph.png) 0 0 no-repeat; padding-left:45px; border-radius:3px 0 0 3px; float:left; width:82%; height:34px;  }
.inst-call .btn { border-radius:0; float:left; width:16%; border-radius:0 3px 3px 0; height:34px; font-size:17px; font-weight:normal; }

.inst-enquiry {position:fixed; z-index:99999; right:16.5%; height:45px; bottom:0; background:#bb020a url(../content/images/inst-enquiry.png) 8px 9px no-repeat; border-radius:6px 6px 0 0; width:260px; padding:12px 0 0 55px; font-weight:bold; font-size:16px; color:#fff; display:none;}
.inst-enquiry a { color:#fff;}

.flight-heading-text{ color:#ffe315; font-size:20px;  font-weight:300; margin-bottom:10px; margin-top:8px;}
.flight-optional-text {color:yellow; font-size:12px; }

.enquiry-form { background:#0f438f; width:260px; border-radius:6px 0 0 6px; position:absolute; right:0; z-index:99999; display:none;}
.enquiry-form .form-head { background:#04164B; font-size:15px; border-bottom:1px solid #000d1b; border-radius:6px 6px 0 0; color:#fff; font-weight:bold; padding:8px 10px 8px 14px;}
.enquiry-form .form-head span { float:right; top:5px!important; right:2%; position:absolute;}
.enquiry-form .enq-form-area { padding:10px; overflow:hidden; border-top:1px solid #185a9e;}
.enquiry-form .form-group { width:100%;}
.enquiry-form .form-group .form-control { height:35px;}
.enquiry-form .form-group .form-control { border-radius:3px;}
.enquiry-form .form-group .btn { border-radius:3px; height:35px;}       

@font-face{font-family:'MISTRAL';src:url('../../fonts/MISTRAL.ttf'); font-style:normal}
@font-face{font-family:'bebasneuebold';src:url('../../fonts/bebasneuebold.otf'); font-style:normal}
@font-face{font-family:'bebasneuebook';src:url('../../fonts/bebasneuebook.otf'); font-style:normal}
@font-face{font-family:'bebasneuelight';src:url('../../fonts/bebasneuelight.otf'); font-style:normal}
@font-face{font-family:'bebasneuethin';src:url('../../fonts/bebasneuethin.otf'); font-style:normal}
@font-face{font-family:'calibri';src:url('../../fonts/calibri.ttf'); font-style:normal}
@font-face{font-family:'calibrib';src:url('../../fonts/calibrib.ttf'); font-style:normal}
@font-face{font-family:'calibril';src:url('../../fonts/calibril.ttf'); font-style:normal}
@font-face{font-family:'Playball';src:url('../../fonts/Playball.ttf'); font-style:normal}
@font-face{font-family:'FONTASTIQUE';src:url('../../fonts/FONTASTIQUE.ttf'); font-style:normal}
.back-to-top {position:fixed; bottom:50%; width:55px; border-radius:6px; height:45px; z-index:100; display:none; transition:all 0.2s; left:auto; right:-4px; line-height:20px;}
.back-to-top i {font-size:15px; font-weight:bold; }
.back-to-top {text-align:center; background:#bb2025; background-color:rgba(187, 32,37, 0.7); color:#FFF;}
.back-to-top:hover, .back-to-top:active {text-decoration:none; border:1px solid #bb2025; color:#bb2025; background:#FFF;}

.form-group .valid {color:#333;}
::-webkit-input-placeholder { color:#666!important;}
::-moz-placeholder { color:#666!important;}
:-ms-input-placeholder { color:#666!important;}
:-moz-placeholder { color:#666!important;}

h1,h2,h3,h4,h5 { font-family: 'Roboto', sans-serif !important; font-weight:400!important; font-size:20px !important; margin:0 0 5px 0px !important;}

h1{margin-top:15px !important;}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }
  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

@media only screen and (min-width:768px) {
    .form-group.searchwidth {
        width: 23.5%;
        float: right;
        margin: 15px 0 0 0 !important;
    }
input[type=radio]:not(old){display:none;} 
input[type="search"] {-webkit-appearance:none;}
input[type=radio]:not(old){margin:0; padding:0; font-size:15px;}
input[type=radio]:not(old) + label { display:inline-block; margin:0; font-size:13px; color:#fff; line-height:15px; font-weight:bold;}
input[type=radio]:not(old) + label > span{display:inline-block; width:15px; height:15px; margin:0 5px 0 0; background:#fff !important; border-radius:8px; vertical-align:bottom;}
input[type=radio]:not(old):checked +  label > span > span{display:block; width:7px; height:7px; border-radius:8px; margin:4px 0 0 4px; border:none; background:#bb020a; }
/*#main-navigation { background:#bb2025; }*/
#main-navigation { background:#d42729; }
/*.top { background:#0f3552; height:32px;}*/
.top { background:#000654; height:32px;}
.top-left { float:left; width:42%; text-align:left; padding:6px 0 0 0; font-size:13px; color:#fff;}
.top-left .fa-gift{color:#bb020a!important;}
.top-mid { float:left; width:45%; text-align:center;  color:#ffcf00; font-size:15px; padding:3px 0 0 0;}
.top-mid-next { display:none;}
/*@keyframes blink {  0% { color:#bb2025; } 100% { color:#09a6da; }}*/
/*@-webkit-keyframes blink { 0% { color: #bb2025; } 100% { color: #f3be30; }}*/
.blink { -webkit-animation:blink 1s linear infinite; -moz-animation:blink 1s linear infinite; animation:blink 1s linear infinite;} 
.top-right { float:right; width:74%; text-align:right; color:#fff;}
.top-right span { padding:0 8px;}
.top-right .fa-angle-down { font-size:14px; font-weight:bold; color:#fff; }
.top-right .fa-envelope { font-size:15px; color:#fff; padding:0 2px 0 0 }
.top-right .fa-phone-square { font-size:15px; color:#fff; padding:0 2px 0 0 }
.top-right .links.login{ margin:2px 0 0 20px;}
.top-right .links{ margin:2px 0 0 0; color:#09a6da!important; }
.top-right .links a {color:#09a6da!important;}
.top-right span.recent { background:#f3be30; border-radius:2px; padding:0px 5px 1px 5px; font-size:12px;color:#0f3552; }
.top-right span.recent a { color:#0f3552;}
.dropdown-menu.recent-srch {text-align:left; width:300px!important; border:none; background:none; position:absolute; right:initial; margin-top:3%; margin-left:-8%; overflow:hidden; z-index:10000; border-radius:0 0 3px 3px; display:none; }
.dropdown-menu.recent-srch:after {bottom:100%; left:20%; border:solid transparent; content:" ";	height:0; width:0; 	position:absolute; pointer-events:none;	border-color:transparent;}
.fb-log{margin-right:10px; margin-top:-9px;}
/*.recent:hover + .recent-srch{ display:block;}*/

.srch-area { padding:8px; border-bottom:1px solid #e1e1e1; overflow:hidden; background:#fff; color:#555;}
.srch-area:hover { background:#f1efef; cursor:pointer;}
.srch-area .departs { float:left; width:32%; line-height:18px;}
.srch-area .departs span { color:#999; font-size:12px; padding:0;}
.srch-area .arrows { float:left; width:14%; margin:6px 0 0 0; font-size:12px; color:#3b8bb1;}
.srch-area .arrivals{ float:left; width:32%; line-height:18px;}
.srch-area .arrivals span { color:#999; font-size:12px; padding:0;}
.srch-area .fares{float:left; width:20%; padding-top:8px; color:#bb020a ; font-weight:bold;}

.dropdown-menu.flags {text-align:left; border:none; position:absolute; right:0; margin-top:4px; overflow:hidden; z-index:10000; border-radius:0 0 3px 3px; display:none;  background:url(../content/images/srch-head.png) no-repeat;}
.flags-area { overflow:hidden; }
.flags-area img {text-align:right!important;}
.flags-area a { border-bottom:1px solid #c3c0c0!important; display:block; padding:8px; background:#fff; font-size:15px!important; color:#777!important;}
.flags-area a:hover { background:#ededed;}

.dropdown-menu.login-signup {text-align:left; width:600px!important; background:none; border:none; box-shadow:none; position:absolute; right:initial; margin-top:-12%; margin-left:-153%; z-index:10000; display:none;  }
.login-head { background:url(../content/images/login-head.png) no-repeat; height:12px;}
.login-area { padding:4px 15px 15px 15px; border:1px solid #d6d4d4; overflow:hidden; background:#fff; box-shadow: 0px 5px 14px -1px rgba(0,0,0,0.75);}
.login-area .form-group.log-autowidth { width:40%;}
.login-area .form-group.log-searchwidth { width:16.8%;}
.login-area .form-group.space { margin-right:7px;}
.login-area .form-control { height:38px;}
.login-area .form-control.email {background:url(../content/images/login-email.png) 0 -5px no-repeat; padding:0 0 0 55px; }
.login-area .form-control.pass {background:url(../content/images/login-pass.png) 0 -5px no-repeat; padding:0 0 0 55px; }
.login-area .form-control:focus.email {background:#f8f2ca url(../content/images/login-email.png) 0 -5px no-repeat; padding:0 0 0 55px}
.login-area .form-control:focus.pass {background:#f8f2ca url(../content/images/login-pass.png)0 -5px  no-repeat; padding:0 0 0 55px}
.login-area .btn { font-size:17px; color:#fff; line-height:45px;}
.login-area .log-left { float:left; width:38%; margin-top:15px;} 
.login-area .log-right { float:right; width:60%; text-align:left; padding:10px 10px 0 0;} 
.login-area .log-right ul { float:none!important; width:100%!important; padding:0!important }
.login-area .log-right ul li { font-size:15px!important; line-height:7px;color:#666; background:url(../content/images/login-tick.png) 0 8px no-repeat; padding:8px 0 3px 25px; font-weight:normal!important; margin:0!important;}
.login-area .log-right ul li:first-child { font-weight:normal!important; border-bottom:none!important;}
.login-area .btn { height:38px; line-height:35px; }
.login-area .btn .fa { color:#fff; padding-right:15px; }
.login-area .btn.facebook { background:#4c6aa8;width:138px; height:34px; margin-top:10px; line-height:32px; font-size:14px;}
.login-area .btn.facebook:hover { background:#304d88;}
.login-area .btn.googleplus { background:#bb2025;width:138px; height:34px;  margin-top:10px; line-height:32px; font-size:14px;}
.login-area .btn.googleplus:hover { background:#a2161a; }
.tollfree { display:none;}
.tollfree-pay{ float:right; width:40%; text-align:right; padding:2px 0 0 0; }
.tollfree-pay a { color:#fff; font-size:21px;}
.tollfree-pay-mob { display:none;}

.marquee {position:relative; animation-name:marquee; animation-duration:5s; animation-timing-function:linear; animation-iteration-count:infinite; animation-direction:alternate; width:70%; cursor:pointer;}

/*@keyframes marquee {from {left:38%; } to { left:0; }}*/
h1 {font-size:1.2em;}
.marquee:hover {animation-play-state:paused}
.fa.fa-apple{ font-size:18px; margin-left:25px; padding-top:2px;}
.fa.fa-android { font-size:20px; padding-top:2px;}

.navbar-brand {	padding:5px 0 0 0; float:left; width:25%; position:relative;}
.logo-text{ color:#fff; font-size:11px; position:absolute; bottom:-6px; right:109px; font-family:FONTASTIQUE; }
.logo-text a { color:#fff;}
.logo-copy{ color:#fff; font-size:22px; position:absolute; top:5px; right:69px; font-family:Calibri; }
.logo-copy a { color:#fff;}
.top-call { display:none;}
.navbar-nav > li { padding:0; display:block;}
.navbar-nav > li > a { padding:0 0 17px 22px; }
.top-right .navbar-nav > li > a { padding:0 0 6px 0; }
.navbar-nav > li > a .fa-angle-down { font-weight:bold; font-size:14px;}
.navbar-inverse .navbar-nav > li > a { font-size:13px; color:#FFF; }
.nav .glyphicon { font-size:12px; font-weight:normal;}
.main-nav {}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {float:right;}
.navbar-nav { float:right; margin-top:18px}
.top-right .navbar-nav { float:right; margin-top:5px}

.top-nav-container { float:right; width:73%;}
.top-nav select {border:none; color:#333; border:1px solid #cbcbcb; font-size:11px; z-index:99999; background:#e7e7e7 url(../content/images/drop.png) 35px 0 no-repeat; width:60px; height:22px; -webkit-appearance:none; -moz-appearance:none; cursor:pointer; border-radius:2px;}
.top-nav li {  list-style:none; margin:2px 0 0 0; display:inline-block;}
.top-nav li.drop {margin:3px 0 0 0; -webkit-padding-start:0;}
.top-nav ul { -webkit-padding-start:0;}
.top-nav li a { color:#fff; font-size:15px; line-height:26px; padding-bottom:10px;}
.top-nav-content { float:right; margin-right:0;}

.top-nav img { margin-left:5px;}
.top-nav .select-border { border:none; padding-bottom:2px; }
/** Dropdown **/
.navbar-nav > li > .dropdown-menu {margin-top:-1px; z-index:99999}
.navbar-nav > li > .dropdown-menu.recent-srch {margin-top:-1px!important; z-index:99999}
.navbar-nav > li > .dropdown-menu.flags {margin-top:0px!important; z-index:99999}
.dropdown-menu { padding:0;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { text-decoration:underline;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {color:#FFF; text-decoration:underline;}
.navbar-inverse .navbar-nav > li > a.active {color:#FFF; font-weight:bold; text-decoration:underline;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background:none}
.top-nav-content {float:none!important;}

.dropdown-menu {width:180px!important;}
.dropdown-menu ul {margin-right:23px!important;}
.dropdown-menu.more { width:580px!important; padding:5px 0 0 0;}
.dropdown-menu .submen-head { font-weight:bold; font-size:15px;}
.dropdown-menu ul { float:left; margin:0 0 0 15px; width:26.5%; list-style:none; padding:0;}
.dropdown-menu ul li { margin:10px 0; font-size:13px;}
.dropdown-menu ul li a { color:#555; border-bottom:1px solid #dbdbdb; display:block; padding:0 5px; line-height:25px}
.dropdown-menu ul li a:hover { color:#09a6da !important;}
.dropdown-menu ul li:first-child {font-weight:bold; border-bottom:1px solid #ccc;}
/*================================================================== footer ==================================================*/
#footer-offers {background:#f2f2f2; padding:15px 0 0 0; margin-top:0; }
/*#footer {background:#0f2c42; padding:15px 0 0 0; margin-top:15px; border-top:1px solid #bb020a }*/
#footer {background:#000654; padding:15px 0 0 0; margin-top:15px; border-top:0px solid #bb020a }
#footer-new {background:#f2f2f2 url(../content/images/christmas-deal/btm.jpg) top right no-repeat; padding:135px 5px 0 0; margin-top:0;}
.footer-content {  margin:0 3.2% 0 0; width:14%; float:left; }
.footer-content.last { margin:0;}
.footer-content ul{ margin0px; padding:0px;}
.footer-content ul li { list-style:none;}
.footer-content ul li.head { color:#fff; text-transform:uppercase; padding:0 0 5px 0; font-size:13px;}
/*.footer-content ul li a {font-size:13px; line-height:22px; color:#628bab; }*/
.footer-content ul li a {font-size:13px; line-height:22px; color:#8187db; }
.footer-content ul li a:hover { color:#fff;}
.client-area-bg { background:#fff; text-align:center; padding:10px 0; margin:15px 0 5px 0; border-top:0px solid #bb020a; border-bottom:0px solid #bb020a}
.client-area-bg .client-item {  margin:0 17px; display:inline-block; width:6%; margin:0 auto;}
.client-area-bg .client-item a { display:block; padding:0; text-align:center; cursor:default; }
.need-help { margin:0;}
.need-help a { color:#628bab;}
.need-help ul { margin:0; padding:0;}
.need-help li { width:34%; margin:0 0 0 0; list-style:none; font-size:20px; font-family:'Lato', sans-serif;display:inline-block; padding:2px 0;}
.need-help li span.need-hd { text-transform:uppercase; color:#fff; font-size:15px;  display:block }
.need-help li:last-child {margin:0;}
.need-help li .fa { color:#9d9d9d;}
.need-help li.support { background:url(../content/images/support.png) 43px 0px no-repeat; }
.need-help li.social { float:right; width:25%;}
.need-help li.social span { padding:0 0 0 2px}
.need-help li.social .fa { font-size:20px; border:1px solid #3b5792; text-align:center; padding:5px 0; width:34px;background:#3b5792; color:#fff; }
need-help li.social .fa-facebook{ background:#3b5792; border:1px solid #3b5792;  color:#fff; }
.need-help li.social .fa-google-plus { background:#b40c1f; border:1px solid #b40c1f;  color:#fff; }
.need-help li.social .fa-twitter{ background:#5ca2d2; border:1px solid #5ca2d2;  color:#fff;  }
.need-help li.social .fa-linkedin {   background:#3b5792;border:1px solid #3b5792;  color:#fff; }
.need-help li.social .fa-instagram {   background:#5f4cca;border:1px solid #5f4cca;  color:#fff; }
.need-help li.social .fa-pinterest-p{  background:#ea1514;border:1px solid #ea1514;  color:#fff;}
.need-help li.social .fa-youtube { background:#b40c1f; border:1px solid #b40c1f; color:#fff; }
.need-help li.social .fa-facebook:hover {background:#3b5792; border:1px solid #3b5792;  color:#fff; }
.need-help li.social .fa-google-plus:hover { background:#b40c1f; border:1px solid #b40c1f;  color:#fff; }
.need-help li.social .fa-linkedin:hover {  background:#3b5792;border:1px solid #3b5792;  color:#fff; }
.need-help li.social .fa-twitter:hover {   background:#5ca2d2; border:1px solid #5ca2d2;  color:#fff; }
.need-help li.social .fa-instagram:hover {  background:#5f4cca;border:1px solid #5f4cca;  color:#fff; }
.need-help li.social .fa-pinterest-p:hover {  background:#ea1514;border:1px solid #ea1514;  color:#fff;}
.need-help li.social .fa-youtube:hover {  background:#b40c1f; border:1px solid #b40c1f; color:#fff;  }
.social-networks { margin:4px 0 0 0}
.social-networks .fa { font-size:22px; padding:8px 0; border:1px solid #80aec7; }
.social-networks .fa:hover { color:#fff;}
.social-networks a { color:#fff; display:inline-block; transition:all 0.1s ease-out; margin-right:5px;}
.social-networks p { font-size:15px;}
.copyright { padding:0; color:#fff; padding:8px 0; text-align:center; }
.copyright span {}
.mob-footer { display:none;}
.com-listing { margin:0 0 10px 0; padding:0;}
.com-listing ul { margin:0 0 0 17px; padding:0;}
.com-listing ul li { list-style:url(../content/images/bullet.png); margin:0; padding:0 0 0 5px; line-height:22px;}

/************************** Why choose us **************************************************/

.why-head { color:#fff; font-size:18px; background:#000654; padding:7px 15px; margin-bottom:5px; border-bottom:1px solid #d5d2d2;}
.why-choose { margin-bottom:5px; font-size:17px; font-weight:bold; line-height:18px; text-align:center; border-bottom:1px solid #d5d2d2; padding:10px 10px 10px 10px; color:#fff; text-align:center; line-height:15px;}
.choose-hd {  text-align:center; color:#777; text-align:center; padding:10px 0 6px 0}
.why-choose { background:#f3f1f1;}
.why-choose.yel {}
.why-choose.yel span { color:#777;}
.why-choose.blu { }
.why-choose.blu span { color:#777;}
.why-choose.org{ }
.why-choose.org span { color:#777;}
.why-choose.grn { }
.why-choose.grn span { color:#777;}
.why-choose span { font-size:13px; padding:0 1px; line-height:15px; font-weight:normal;}

.inst-chat {position:fixed; z-index:999; right:7%; width:115px; height:38px; bottom:0; background:#09a6da; border-radius:6px 6px 0 0;  padding:8px 0 0 8px; line-height:17px; font-weight:bold; font-size:15px; color:#fff;}
.inst-chat a { color:#fff;} 

.list-tab > li.active > a{
    background: #c02026 !important;
    color:#fff !important;
    cursor:pointer !important;
}
.list-tab > li > a{
    background: #2e8fc2 !important;
    color:#fff !important;
    cursor:pointer;
}
.list-tab > li > a span{
    display:block;
    font-weight:bold;
}
.callus a{
    color:#eab213;
    }
.callus a:hover{
    color:#eab213;
    }
.mailus a{color:#eab213;}
.mailus a:hover{color:#eab213;}

/*alerbox*/
.price-alert-bx{
	width:257px;
	background-color:#fff;
	border:1px #00b2d6 solid;
	min-height:221px;
    margin-bottom:15px;
}
.pal-head{
	
	background:#00b2d6 url(../content/images/alert-bell.png) no-repeat 15px 15px;
	color:#fff;
	font-size:18px;
	padding-left:50px;
	padding-top:18px;
	padding-bottom:18px;
}
.pl-form{
	padding:20px;
}
.pl-form input[type="text"]{
	border:1px #CCCCCC solid;
	padding:10px;
	width:100%;
	color:#000;
	box-sizing:border-box;
}
.pl-form label{
	font-size:12px;
	margin-bottom:5px;
	display:block;
}
.calert-but{
	background-color:#00c26a;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	padding:10px;
	border:0px;
	margin-top:15px;
	font-weight:bold;
	cursor:pointer;
}
.calert-but:hover{
	background-color:#01af60;
}
.bell-but{display:none;}
.pl-popup-close{display:none;}
.pl-overlay{display:none;}

/*signin register popup*/

.signin-register-popup{
    font-family: 'Roboto', sans-serif;
	width:715px;
	min-height:300px;
	position:fixed;
	color:#000;
	top:15%;
	left:0px;
	right:0px;
	margin:0 auto;
	z-index:200;
	box-sizing:border-box;
	padding:0px;
	background:#fff;
	
}
.sin-con{
    padding-left:20px;
    padding-top:15px;
     padding-bottom:10px;
}
.sup-con{
    padding-right:20px;
    padding-top:15px;
    padding-bottom:10px;
    background-color:#d42729;
    padding-left:20px;
    color:#fff !important;
}
.sup-con .form-control{border:0px;}
.sr-overlay{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
	z-index:100;
}
.sr-head{
    color: #000654;
    font-weight: 300;
    font-size: 22px;
    padding: 0px 0px 10px 0px;
}
.signin-register-popup label{display:block;}
.signin-register-popup .form-control{width:100%;}
.or-bx-con{
    position:relative;
}
.or-bx{
    width:100%;
    height:1px;
    border-bottom:1px #666 dashed;
    position:absolute;
    top:12px;
    z-index:110;
    
}
.or-top{
    width:25px;
    height:25px;
    border-radius:20px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    margin:0 auto;
    z-index:120;
    background-color:#000654;
    color:#fff;
    text-align:center;
    font-size:12px;
    padding-top:4px;
}
.sr-close-but{
	position:absolute;
	top:10px;
	right:10px;
	width:9px;
	height:9px;
	background:url(../content/images/sup-close-but-white.png) no-repeat center center;
	cursor:pointer;
    z-index:130;
}
/*search loader style*/
.search-loader-pop{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:#fff;
    display:none;
}
.hotel-sell{
    display:block !important;
}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
.logo-text{ color:#fff; font-size:11px; position:absolute; bottom:-6px; right:60px; font-family:FONTASTIQUE; }
.logo-copy{ color:#fff; font-size:22px; position:absolute; top:5px; right:12px; font-family:Calibri; }
.navbar-nav > li { padding:0 3px 18px 3px; display:block;}
.navbar-nav > li > a { padding:0 10px;}
.top-left { float:left; width:30%; text-align:left;  }
.top-right {  width:75%; }
.marquee {position:relative; animation-name:marquee; animation-duration:2s; animation-timing-function:linear; animation-iteration-count:infinite; animation-direction:alternate; width:82%;}
/*@keyframes marquee {from {left:28%; } to { left:0; }}*/
.need-help li { width:30%; margin:0 5% 0 0; float:left;  list-style:none; font-size:17px;display:inline-block; padding:2px 0;}
.client-area { width:65%; margin:0 auto; overflow:hidden;}
.top-right .navbar-nav{margin-top:0px;}
.navbar-nav {margin-top:0px; }


/*signin register popup*/

.signin-register-popup{
    font-family: 'Roboto', sans-serif;
	width:715px;
	min-height:300px;
	position:fixed;
	color:#000;
	top:15%;
	left:0px;
	right:0px;
	margin:0 auto;
	z-index:200;
	box-sizing:border-box;
	padding:0px;
	background:#fff;
	
}
.sin-con{
    padding-left:20px;
    padding-top:15px;
     padding-bottom:10px;
}
.sup-con{
    padding-right:20px;
    padding-top:15px;
    padding-bottom:10px;
    background-color:#d42729;
    padding-left:20px;
    color:#fff !important;
}
.sup-con .form-control{border:0px;}
.sr-overlay{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
	z-index:100;
}
.sr-head{
    color: #000654;
    font-weight: 300;
    font-size: 22px;
    padding: 0px 0px 10px 0px;
}
.signin-register-popup label{display:block;}
.signin-register-popup .form-control{width:100%;}
.or-bx-con{
    position:relative;
}
.or-bx{
    width:100%;
    height:1px;
    border-bottom:1px #666 dashed;
    position:absolute;
    top:12px;
    z-index:110;
    
}
.or-top{
    width:25px;
    height:25px;
    border-radius:20px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    margin:0 auto;
    z-index:120;
    background-color:#000654;
    color:#fff;
    text-align:center;
    font-size:12px;
    padding-top:4px;
}
.sr-close-but{
	position:absolute;
	top:10px;
	right:10px;
	width:9px;
	height:9px;
	background:url(../content/images/sup-close-but-white.png) no-repeat center center;
	cursor:pointer;
    z-index:130;
}
}

@media only screen and (min-width:768px) and (max-width:991px) {
.top { flex-direction: column;}
.top-left { float:none; width:100%; text-align:left; clear:both; margin:0 auto; display:none;    }
.top-mid {}
.top-mid-next { display:block; clear:both; width:100%; text-align:center; color:#ffcf00; border-top:1px dashed #284983; padding:5px 0; margin-top:5px;}
.top-right { float:none; width:100%; text-align:center; margin-bottom:5px; }
.marquee {position:relative; width:50%; animation-name:marquee; animation-duration:4s; animation-timing-function:linear; animation-iteration-count:infinite; animation-direction:alternate;}
.dropdown-menu.recent-srch { margin-top:2%; margin-left:91%; }
.top-nav li a {  font-size:15px; line-height:none; padding-bottom:8px;}
.top-nav-content { float:right; margin-right:0; margin-bottom:0;}
/*@keyframes marquee {from {left:54%; } to { left:0; }}*/
.top-nav li { float:none; display:inline; list-style:none; margin:2px 0 0 0;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { float:none;}
#navbar { margin-top:0; }
.logo-text{ color:#fff; font-size:11px; position:absolute; bottom:-6px; right:106px; font-family:FONTASTIQUE; }
.logo-copy{ color:#fff; font-size:22px; position:absolute; top:9px; right:54px; font-family:Calibri; }
.navbar-nav { float:none; margin-top:5px}
.navbar-nav > li { padding:0; display:block;}
.navbar-nav > li:last-child { padding:0 0 0 12px; }
.navbar-brand {	padding:10px 0 0 0; text-align:center; float:none; width:47%; margin:0 auto;}
.top-nav-container { float:none; text-align:center; width:100%; text-align:center;}
.navbar-nav > li > a { padding:10px 13px;}
.popular-links .col-xs-8, .col-sm-4, .col-sm-6 { padding-left:0 !important; margin-right:5px !important; width:32%; }
.social-networks a {margin-right:0;}
#need-help .headings-btm {  font-size:17px;}
.footer-content {  margin:0 13% 0 0; width:15%; float:left; }
.need-help li {  margin:0 0 0 0; float:left; font-size:15px;}
.need-help li:last-child { margin:0; }
.need-help li .fa { color:#9d9d9d;}
.need-help li.social .fa { font-size:18px;}
.client-area { width:86%; margin:0 auto; overflow:hidden;}
.dropdown-menu.login-signup { margin-top:5%; margin-left:-3%;}


/*signin register popup*/

.signin-register-popup{
    font-family: 'Roboto', sans-serif;
	width:715px;
	min-height:300px;
	position:fixed;
	color:#000;
	top:15%;
	left:0px;
	right:0px;
	margin:0 auto;
	z-index:200;
	box-sizing:border-box;
	padding:0px;
	background:#fff;
	
}
.sin-con{
    padding-left:20px;
    padding-top:15px;
     padding-bottom:10px;
}
.sup-con{
    padding-right:20px;
    padding-top:15px;
    padding-bottom:10px;
    background-color:#d42729;
    padding-left:20px;
    color:#fff !important;
}
.sup-con .form-control{border:0px;}
.sr-overlay{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
	z-index:100;
}
.sr-head{
    color: #000654;
    font-weight: 300;
    font-size: 22px;
    padding: 0px 0px 10px 0px;
}
.signin-register-popup label{display:block;}
.signin-register-popup .form-control{width:100%;}
.or-bx-con{
    position:relative;
}
.or-bx{
    width:100%;
    height:1px;
    border-bottom:1px #666 dashed;
    position:absolute;
    top:12px;
    z-index:110;
    
}
.or-top{
    width:25px;
    height:25px;
    border-radius:20px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    margin:0 auto;
    z-index:120;
    background-color:#000654;
    color:#fff;
    text-align:center;
    font-size:12px;
    padding-top:4px;
}
.sr-close-but{
	position:absolute;
	top:10px;
	right:10px;
	width:9px;
	height:9px;
	background:url(../content/images/sup-close-but-white.png) no-repeat center center;
	cursor:pointer;
    z-index:130;
}
}

@media only screen and (max-width:767px) {
    .form-group.searchwidth {
        width: 100%;
    }
    .signup-popup {display:none !important;}
    .pop-overlay{display:none !important;}
input[type=radio]:not(old){display:none;} 
input[type="search"] {-webkit-appearance:none;}
input[type=radio]:not(old){margin:0; padding:0; font-size:15px;}
input[type=radio]:not(old) + label { display:inline-block; margin:0; font-size:13px; color:#fff; line-height:15px; font-weight:bold;}
input[type=radio]:not(old) + label > span{display:inline-block; width:17px; height:17px; margin:0 5px 0 0; border:none; background:#fff!important; border-radius:8px; vertical-align:bottom;}
input[type=radio]:not(old):checked +  label > span > span{display:block; width:9px; height:9px; border-radius:8px; margin:4px 0 0 4px; border:none; background:#bb020a; }
.tollfree { float:right; text-align:right; padding:10px 15px 12px 10px; border-left:1px solid #8a0f13;}
.tollfree a { color:#fff; font-size:22px;}
.tollfree-pay { display:none;}
.tollfree-pay-mob { float:right; text-align:right; padding:10px 15px 12px 10px; border-left:1px solid #8a0f13;}
.tollfree-pay-mob a { color:#fff; font-size:22px;}
#main-navigation { background:#d42729; }
#main-navigation .container { padding:0;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {width:100%; }
.navbar-inverse .navbar-toggle {border-color:none;}
.navbar-toggle { padding:18px 8px 19px 8px; margin-top:0;}
.navbar-brand {	padding:10px 0 0 15px; float:left; width:72%; text-align:center; margin:0 auto; position:relative;}
.navbar-brand img { width:210px;}
.logo-text{ color:#fff; font-size:11px; position:absolute; bottom:-1px; right:53px; font-family:FONTASTIQUE; }
.logo-text a { color:#fff;}
.logo-copy{ color:#fff; font-size:22px; position:absolute; top:2px; right:20px; font-family:Calibri; }
.logo-copy a { color:#fff;}
.navbar-inverse .navbar-toggle .icon-bar {background:#fff;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background:none;}
.nav > li {position: relative; display:block;}
.logo-bg { width: 150px; padding:0 0 10px 10px;}
.top-call { float:right; border-left:1px solid #8a0f13 !important; text-align:right; padding:15px 14px 12px 10px}
.top-call i { color:#fff; font-size:25px;}
.dropdown-menu {width:100%; padding:0; float: none!important; }
.dropdown-menu .nav > li > a:hover {background:#dedcdc !important; color:#fff!important;}
.navbar-inverse .navbar-nav > li > a{ color:#555; font-weight:normal; font-size:13px; background:#f0f0f0; border-bottom:1px solid #d4d4d4;}
.navbar-nav > li.hide-mob { display:none;}
.navbar-nav {margin-top:0!important; margin-bottom:0!important;}
ul.dropdown-menu.pull-right li ul { width:32%; text-align:left; margin-bottom:10px; background:#f0f0f0;}
ul.dropdown-menu.pull-right li ul:last-child {margin-bottom: 0;}
.dropdown-menu ul { float:left; margin:0 28px 0 0; list-style:none; padding:0;}
.dropdown-menu ul li { margin:0 0; font-size:14px; padding:8px 0 8px 10px;}
.dropdown-menu > li > a {  display: block; padding:0 10px; border-bottom:1px solid #b0cce2; clear: both; font-weight: normal; line-height:40px; color: #555; white-space: nowrap; background:#d9e7f2}
.dropdown-menu ul li a:hover { color:#09a6da !important;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background:#2e8fc2; color:#fff; }
.dropdown-menu .nav > li > a:hover {background:#dcd9d9; color:#09a6da!important;}
.topbar-responsive-nav {float:right; margin-top:20px;}
.topbar-responsive-nav .signin {float:right; margin-right:10px;}
.topbar-responsive-nav .mybooking {float:right; display:block; margin-right:30px;}
.topbar-responsive-nav .country { float:right; display:block; margin-right:30px;}
.dropdown .glyphicon{ font-size:12px;}
.back-to-top {right:-1px;}
.top { background:#2f74d8; height:32px; display:none;}
.top-left { float:left; width:25%; text-align:left; }
.top-right { float:left; width:73%; text-align:right;}
.com-listing { margin:0 0 10px 0; padding:0;}
.com-listing ul { margin:0 0 0 17px; padding:0;}
.com-listing ul li { list-style:url(../content/images/bullet.png); margin:0; padding:0 0 0 5px; line-height:22px;}
/*================================================================== footer ==================================================*/
#footer-offers {background:#f2f2f2; padding:15px 0 0 0; margin-top:0; }
#footer-new {background:#f2f2f2 url(../content/images/christmas-deal/btm.jpg) top right no-repeat; padding:135px 0 0 0; margin-top:0; }
#footer {background:#000654; padding:0; margin-top:10px; }
.footer-content {  margin:0 0 0 0; width:50%; float:left; display:none; }
.footer-content.last { margin:0;}
.client-area-bg {display:none;}
.need-help a { color:#628bab;}
.need-help ul { margin:5px 0 0 0; padding:0;}
.need-help li { width:100%; margin:4px 0 10px 0; line-height:20px; text-align:center; list-style:none; font-size:18px; font-family:'Lato', sans-serif; display:inline-block; padding:2px 0;}
.need-help li span.need-hd { display:none}
.need-help li:last-child {margin:0;}
.need-help li .fa { color:#8a8a8a;}
.need-help li.mailus { display:none;}
.need-help li.callus { display:none;}
.need-help li.support { width:280px; background:url(../content/images/support.png) 76px 0px no-repeat; margin:4px auto; }
.need-help li.social span { padding:0 0 0 4px}
.need-help li.social .fa { font-size:20px; border:1px solid #73a2c7; padding:5px 0; width:34px; }
.need-help li.social .fa-facebook{ background:#3b5792; border:1px solid #3b5792;  color:#fff; }
.need-help li.social .fa-google-plus { background:#b40c1f; border:1px solid #b40c1f;  color:#fff; }
.need-help li.social .fa-twitter{ background:#5ca2d2; border:1px solid #5ca2d2;  color:#fff;  }
.need-help li.social .fa-linkedin {   background:#3b5792;border:1px solid #3b5792;  color:#fff; }
.need-help li.social .fa-instagram {   background:#5f4cca;border:1px solid #5f4cca;  color:#fff; }
.need-help li.social .fa-pinterest-p{  background:#ea1514;border:1px solid #ea1514;  color:#fff;}
.need-help li.social .fa-youtube { background:#b40c1f; border:1px solid #b40c1f; color:#fff; }
.need-help li.social .fa-facebook:hover {background:#3b5792; border:1px solid #3b5792;  color:#fff; }
.need-help li.social .fa-google-plus:hover { background:#b40c1f; border:1px solid #b40c1f;  color:#fff; }
.need-help li.social .fa-linkedin:hover {  background:#3b5792;border:1px solid #3b5792;  color:#fff; }
.need-help li.social .fa-twitter:hover {   background:#5ca2d2; border:1px solid #5ca2d2;  color:#fff; }
.need-help li.social .fa-instagram:hover {  background:#5f4cca;border:1px solid #5f4cca;  color:#fff; }
.need-help li.social .fa-pinterest-p:hover {  background:#ea1514;border:1px solid #ea1514;  color:#fff;}
.need-help li.social .fa-youtube:hover {  background:#b40c1f; border:1px solid #b40c1f; color:#fff;  }
.cont-mob { display:none}
.copyright {  color:#fff; margin-top:5px; border-top:1px solid #fff; padding:8px 0; text-align:center; background:#000654; font-size:13px; }
.copyright span {  display:block;}
.copyright span.hide-cop {  display:none;}

.mob-footer { background:#000654; overflow:hidden; color:#fff;}
.mob-footer ul { margin:0; padding:0;}
.mob-footer ul li { margin:0; padding:0; list-style:none; float:left; width:33%; text-align:center; border-left:1px solid #06082e; border-right:1px solid #262b66;}
.mob-footer ul li:hover { background:#01053b;}
.mob-footer ul li a { color:#fff; display:block; padding:12px 0;  font-size:12px; font-weight:bold;}
.mob-footer ul li a .fa { font-size:18px; padding:0 4px 0 0}

/********************************** why choose us *************************************************/

.why-head { color:#fff; font-size:18px; background:#000654; padding:7px 15px; margin-bottom:5px; border-bottom:1px solid #d5d2d2;}
.why-choose { margin-bottom:5px; height:158px; font-size:17px; font-weight:bold; line-height:18px; text-align:center; border-bottom:1px solid #2eaeda; padding:15px 10px 10px 10px; color:#fff; text-align:center; line-height:15px;}
.choose-hd { text-align:center; color:#777; text-align:center; padding:10px 0 6px 0}
.why-choose.yel { background:#f3f1f1;}
.why-choose.yel span { color:#777;}
.why-choose.blu { background:#f3f1f1;}
.why-choose.blu span { color:#777;}
.why-choose.org{ background:#f3f1f1;}
.why-choose.org span { color:#777;}
.why-choose.grn { background:#f3f1f1;}
.why-choose.grn span { color:#777;}
.why-choose span { font-size:13px; padding:0 2px; line-height:15px; font-weight:normal;}
#view-deals .content-area .smallwidth { width:33.1%; display:inline-block;  margin:0 2px 8px 0}
.inst-chat {position:fixed; z-index:999; right:2%; width:46px; height:38px; bottom:0; background:#09a6da; border-radius:6px 6px 0 0;  padding:8px 0 0 5px; line-height:17px; font-weight:bold; font-size:15px; color:#fff;}
.inst-chat span { display:none;}
.inst-chat a { color:#fff;} 

/*alertbox*/

	.bell-but{
	background-color:#d42729;
	padding:10px;
	border-radius:75%;
	display:block;
	position:fixed;
	bottom:10px;
	left:10px;
	width:60px;
	height:60px;
	text-decoration:none;
	z-index:1000;
}
.bell{
  display:block;

  font-size: 30px !important;
  margin:8px auto 0;
  color: #fff;
  -webkit-animation: ring 4s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .7s ease-in-out infinite;
  transform-origin: 50% 4px;
}
	.pl-overlay{
		display:inline-block;
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		z-index:900;
		background-color:rgba(0, 0, 0, 0.9);
		display:none;
	}
	.bell-but{display:inline-block;}
	.price-alert-bx{
		position:fixed;
		top:20%;
		left:0px;
		right:0px;
		margin:0 auto;
		z-index:1000;
		display:none;
		width:257px;
	background-color:#fff;
	border:1px #00b2d6 solid;
	min-height:221px;
	}
	.pl-popup-close{
		display:inline-block;
		position:absolute;
		top:-10px;
		right:-10px;
		width:25px;
		height:25px;
		background:url(../content/images/pl-close.png) no-repeat;
		z-index:1010;
		cursor:pointer;
	}
	.pal-head{
	
	background:#00b2d6 url(../content/images/alert-bell.png) no-repeat 15px 15px;
	color:#fff;
	font-size:18px;
	padding-left:50px;
	padding-top:18px;
	padding-bottom:18px;
}
.pl-form{
	padding:20px;
}
.pl-form input[type="text"]{
	border:1px #CCCCCC solid;
	padding:10px;
	width:100%;
	color:#000;
	box-sizing:border-box;
}
.pl-form label{
	font-size:12px;
	margin-bottom:5px;
	display:block;
}
.calert-but{
	background-color:#00c26a;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	padding:10px;
	border:0px;
	margin-top:15px;
	font-weight:bold;
	cursor:pointer;
}
.calert-but:hover{
	background-color:#01af60;
}

/*signin register popup*/

.signin-register-popup{
    font-family: 'Roboto', sans-serif;
	width:100%;
	min-height:300px;
	position:fixed;
	color:#000;
	top:0;
	left:0px;
	right:0px;
	margin:0 auto;
	z-index:200;
	box-sizing:border-box;
	padding:0px;
	background:#fff;
	
}
.sin-con{
    padding-left:30px;
    padding-top:15px;
     padding-bottom:10px;
     padding-right:30px;
}
.sup-con{
    padding-right:30px;
    padding-top:15px;
    padding-bottom:10px;
    background-color:#d42729;
    padding-left:30px;
    color:#fff !important;
}
.sup-con .form-control{border:0px;}
.sr-overlay{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
	z-index:100;
}
.sr-head{
    color: #000654;
    font-weight: 300;
    font-size: 22px;
    padding: 0px 0px 10px 0px;
}
.signin-register-popup label{display:block;}
.signin-register-popup .form-control{width:100%; display:block !important;}
.signin-register-popup .form-group{display:block;}
.or-bx-con{
    position:relative;
}
.or-bx{
    width:100%;
    height:1px;
    border-bottom:1px #666 dashed;
    position:absolute;
    top:12px;
    z-index:110;
    
}
.or-top{
    width:25px;
    height:25px;
    border-radius:20px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    margin:0 auto;
    z-index:120;
    background-color:#000654;
    color:#fff;
    text-align:center;
    font-size:12px;
    padding-top:4px;
}
.sr-close-but{
	position:absolute;
	top:10px;
	right:10px;
	width:9px;
	height:9px;
	background:url(../content/images/sup-close-but.png) no-repeat center center;
	cursor:pointer;
    z-index:130;
}
}

@media only screen and (max-width:600px) {
.error-left { float:left; width:100%;}
.error-right { float:right; text-align:right; margin:10px 0 0 0; width:100%;}
.error-right img { width:40%; height:auto;}
.error-pg span {color:#09a6da;}
.popular-links .col-xs-8, .col-sm-4, .col-sm-6 { padding-left:0 !important; margin-right:0 !important; width:100%; }
.help-option { width:100%; float:left; color:#fff; border-right:none; margin:0; }
.help-option.last {width:100%; color:#fff; border-right:none; margin:0;}
}

@media only screen and (max-width:480px) {
.logo-bg { width: 130px; padding:0 0 15px 10px;}
.popular-links .col-xs-8, .col-sm-4, .col-sm-6, .col-sm-13 { padding-left:0 !important; margin-left:0 !important;}
.error-right img { width:70%; height:auto;}
ul.dropdown-menu.pull-right li ul { width:100%; text-align:left; margin-bottom:0;}
}
