@media only screen and (min-width:768px){
body {font-family: 'Lato', sans-serif;}
.banner {position:relative; height:545px;}
.banner img { width:100%; height:100%;}
    .hotel-heading {
        color: #ffe315;
        font-size: 22px;
        padding-top: 5px;
        font-weight: 500;
        margin-bottom:10px;
    }
.form-bg label{ color:#fff;} 
.form-bg { top:12%; width:40%; z-index:99; position:absolute;}
.form-area { background:rgba(0,0,0,.6); padding:10px 20px 20px 20px; overflow:hidden;}
.form-group { margin:0 0 8px 0!important; float:left; display:inline-block; }
.form-group.space { margin-right:8px!important;}
.form-group.autowidth { width:100% !important; }
.form-group.middlewidth { width:49.22% !important;}
.form-group.smallwidth { width:13.9% !important;}
/*.form-group.datewidth { width:36% !important;}*/
.form-group.datewidth { width:49.2% !important;}
.form-group.newautowidth { width:49.22% !important;}
.form-group.searchwidth { width:49.22%; float:right; margin-top:15px!important; display:inline-block; }
.child-row { float:left; width:53%; display:none; margin-top:0px !important}
.child-row .smallwidth { width:20.9% !important;}

 .room-name { display:block; color:#fff; font-size:16px; margin:22px 0px 0px 0px; background-color:#196cae; border-radius:4px; padding:8px 7px; text-align:center; }

/*======================== flights==========================*/
.container h2 { color:#00629b; font-size:20px; margin:15px 0 15px 0; color:#333; text-transform:uppercase; line-height:22px; text-align:center;}
.container h2 span { color:#999; font-size:15px; text-transform:none;}
.container h3 { color:#00629b; font-size:17px; margin:15px 0 15px 0; color:#333; text-transform:uppercase; line-height:22px;}
.container h3 span { color:#838282; font-size:14px; text-transform:none;}
.container h4 { color:#00629b; font-size:17px; margin:27px 0 15px 0; color:#333; text-transform:uppercase; line-height:22px;}
.container h4 span { color:#838282; font-size:14px; text-transform:none;}
.review {  margin: 20px 0 20px 0;}
.tab-content { padding:0 15px 10px 15px !important}

.form-group.h-searchwidth {  width:24.5%; float:right; display:inline-block; margin:0 2px 5px 0}
.form-group.newsmallwidth { width:23.9%; display:inline-block; margin:0 2px 10px 0;}
.slctbx label,.txtbxhtl label,.dtepik label {width:100%; font-size:13px; color:#666; line-height:14px; font-weight:normal;}
.room1 .slctbx {float:left; margin-left:1%;}
.slctbx option {font-size:14px; color:#494949; padding:4px 0; width:auto;}
.txtbxhtl.child1 {width:21%;}
.dtepik.child1 {width:16%;}
.slctbx.child1 {width:48.5%;}
.txtbxhtl.child2 {width:18%;}
.dtepik.child2 {width:13%;}
.slctbx.child2 {width:49.5%;}
.room1 {width:100% !important;}
.room2 { width:100% !important; float:left; clear:both; margin:0; padding-bottom:0 !important; }
.room2_details{ color:#fcc235; font-size:14px; padding:0}
.room2 .slctbx { float:left; margin-left:1%;}

.heading { text-align:center; margin:25px 0 0 0;}
.slider-block { width:31%; float:left; border:1px solid #FFF; overflow:hidden; margin:10px 3% 20px 0; padding-bottom:5px;  border-bottom:1px solid #c7c7c6; }
.slider-block.last { margin:10px 0 0 0;}
.slider-block .hotel-img { padding:0;}
.slider-block .hotel-img img { width:100%;}
.slider-block .detail-bg {overflow:hidden;}
.slider-block .name { float:left; width:60%; color:#1e7cb4; font-size:18px; padding:8px 0 0 0;}
.slider-block .location { float:left; width:60%; background:url(../images/hotels/location-icon.png) 0 4px no-repeat; color:#777; font-size:14px; padding:2px 0 0 20px;} 
.slider-block .star { width:35%; padding:0; margin:0 0 12px 0}
.slider-block .deal { text-align:right;padding:0 0 0 0; color:#666; font-size:14px; margin:5px 0 14px 0}
.slider-block .price-bg { float:right; width:35%;overflow:hidden; padding-bottom:5px;}
.slider-block .facility { float:left; width:45%; border-right:1px solid #c7c7c6; padding:14px 0 0 8px }
.slider-block .facility .fa { color:#b2b2b1; padding:0 10px 11px 0; font-size:19px;}
.slider-block .price { color:#b71d00; text-align:right; font-weight:bold; font-size:17px; padding:12px 0 0 0;  margin:0; line-height:14px;}
.slider-block .price span { color:#b0b0b0; font-size:14px; font-weight:normal;}
.slider-block .price .pn-show { display:inline; font-size:12px;}
.slider-block .price .pn-hide { display:none;}
.slider-block .details  {text-align:right; }
.slider-block .details .btn { background:#09a6da; margin-top:10px; height:30px; width:80px; color:#fff; line-height:28px; font-size:15px;}
.slider-block .details .btn:hover { background:#bb020a; color:#fff;}

.promo-bg { margin:0; background:url(../images/hotels/hotel-promo-bg.jpg) no-repeat; background-size:100% 100%; text-align:center; padding:15px 0 }

.hotel-head { background:#e4f0f7; height:30px; padding:5px 0 5px 15px; font-weight:bold; color:#2e8ac0; margin:10px 0 0 0;}
.hotel-list { float:left; width:21%; margin:0 2% 0 0;}
.hotels-bg { overflow:hidden;}
.hotels-head { background:#e4f0f7; color:#2e8ac0; height:40px; font-weight:bold; margin:15px 0 0 0; font-size:14px; line-height:40px; padding:0 15px 0 15px;}
.hotels-row { border-bottom:1px dashed #b5b5b5; padding:12px 15px; overflow:hidden; font-size:14px;}
.hotels-row:hover { background:#f4f0f0;}
.hotels-row.last { border-bottom:none; padding:12px 15px 12px 15px; overflow:hidden; font-size:14px;}
.hotels-col-1 { float:left; width:25%; margin:0 1% 0 0;}
.hotels-col-1 .name-show {}
.hotels-col-1 .name-hide { display:none;}
.hotels-col-2 { float:left; width:19%; margin:0 1% 0 0;}
.hotels-col-3 { float:left; width:19%; margin:0 1% 0 0;}
.hotels-col-4 { float:left; width:19%; margin:0 1% 0 0;}
.hotels-col-5 { float:left; width:13%; margin:0 1% 0 0;}
.hide-480 { margin:0; padding:0;}
.hotels-name { float:left; width:25%; margin:0 1% 0 0;}
.hotels-name span { padding:0 5px 0 5px}
.hotels-city { float:left; width:19%; margin:0 1% 0 0;}
.hotels-rating { float:left; width:19%; margin:0 1% 0 0;}
.hotels-rating span { padding:0 2px 0 0; font-size:13px; color:#999}
.hotels-price { float:left; width:19%; margin:0 1% 0 0; color:#bb0a03 !important; text-align:left;}	
.hotels-price span{ padding:0 0 0 0; color:#999; font-size:12px; font-weight:normal;}
.hotels-buy { float:left;  width:13%; margin:0 1% 0 0;}	
.hotels-buy .btn { width:90px; font-size:14px; height:30px; line-height:28px; background:#000654; color:#fff}
.hotels-buy .btn:hover { background:#bb020a; color:#fff;}
.hotels-fare span { color:#333 !important;}	

.top-dest-bg { padding:0 0 25px 0;}
.top-hotels { float:left; width:48%; margin:15px 0 0 0; padding:0 0 15px 0}
.pop-hotels { float:right; width:48%; margin:15px 0 0 0; padding:0 0 15px 0 }
.top-hotels .top-hotel-img img{ width:100%;}
.top-hotels .hotel-row { border-bottom:1px dashed #d5d5d5; padding:12px}
.top-hotels .hotel-row:hover { background:#f9f7f7; border-bottom:1px dashed #d5d5d5; padding:12px}
.top-hotels .name { width:42%; float:left; margin:0 2% 0 0; font-size:15px; line-height:20px;}
.top-hotels .name span { color:#999; font-size:14px;background:url(../images/hotels/location-icon.png) 0 2px no-repeat; padding:0 0 0 17px}
.top-hotels .rating { width:32%; float:left;  margin:0 2% 0 0}
.top-hotels .rating span { padding:0 2px 0 0;}
.top-hotels .price { width:20%; float:left; margin:0 2% 0 0; text-align:right; color:#b71d00; font-weight:bold; font-size:17px; line-height:16px;}
.top-hotels .price span { color:#999; font-size:12px; font-weight:normal; }

.pop-hotels-blk { float:left; width:32%; margin:0 5px 5px 0; background:#d7d7d7; }
.pop-hotels-blk img { width:100%;}
.pop-hotels-blk img:hover { background:#999;}
.pop-hotels-blk.last { width:32%; margin:0 0 5px 0;}
.pop-hotels-blk .pop-image { position:relative;}
.pop-hotels-blk .pop-image .txt { position:absolute; bottom:5px; font-size:17px; color:#FFF; left:5px; text-shadow:2px 2px 2px #000; }

.view-first img { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -ms-transition: all 0.2s linear;
transition: all 0.2s linear;}
.view-first .mask { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; background: rgba(0,0,0, 0.5); -webkit-transition: all 0.4s ease-in-out;  -moz-transition:all 0.4s ease-in-out;  -o-transition:all 0.4s ease-in-out;  -ms-transition:all 0.4s ease-in-out;  transition:all 0.4s ease-in-out;}
.view-first h2 { -webkit-transform:translateY(-100px);  -moz-transform: translateY(-100px);  -o-transform: translateY(-100px);  -ms-transform:translateY(-100px);  transform: translateY(-100px);  -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";  filter:alpha(opacity=0); opacity: 0;
-webkit-transition: all 0.2s ease-in-out;  -moz-transition: all 0.2s ease-in-out;  -o-transition:all 0.2s ease-in-out;  -ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.view-first .details { -webkit-transform:translateY(100px);  -moz-transform: translateY(100px);  -o-transform:translateY(100px);  -ms-transform: translateY(100px);
transform: translateY(100px); -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity: 0; -webkit-transition: all 0.2s linear; -moz-transition:all 0.2s linear;  -o-transition: all 0.2s linear; -ms-transition:all 0.2s linear;  transition:all 0.2s linear; line-height:28px;}
.view-first .details img { width:auto; margin:0 auto}
.view-first .details .loct { text-align:center; font-size:16px; font-weight:bold;}
.view-first .details .star {text-align:center!important; margin:0 auto!important;}
.view-first .details .price {text-align:center; font-size:16px; font-weight:bold;}
.view-first:hover img { -webkit-transform:scale(1.1,1.1);  -moz-transform:scale(1.1,1.1); -o-transform:scale(1.1,1.1); -ms-transform:scale(1.1,1.1);
transform:scale(1.1,1.1);}
.view-first a.info {-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out;  transition:all 0.2s ease-in-out;}
.view-first:hover .mask { -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";  filter: alpha(opacity=100);   opacity: 1;}
.view-first:hover h2,.view-first:hover .details,.view-first:hover a.info {  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -o-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px);}
.view-first:hover .details { -webkit-transition-delay: 0.1s; -moz-transition-delay: 0.1s; -o-transition-delay:0.1s; -ms-transition-delay: 0.1s; transition-delay: 0.1s;}
.view-first:hover a.info {-webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -o-transition-delay: 0.2s; -ms-transition-delay: 0.2s; transition-delay: 0.2s;}
.view {width:16.6666%; height:auto; float:left; overflow:hidden; position:relative; text-align:center;   cursor:default; }
.view .mask,.view .content {width:100%; height:100%; position:absolute; overflow:hidden; top:0; left:0;}
.view img { display:block; position:relative; width:100%;}	
.view h2 {text-transform:uppercase; color:#fff; text-align:center;  position:relative; font-size:15px; padding:10px; background:#2b80b2; margin:10px 0 0 0; z-index:9999; height:30px;}
.view .details { font-size:14px; position:relative; color:#fff; padding:10px 20px 20px; text-align:center;}
.view a.info {display:inline-block; text-decoration:none; height:30px; line-height:25px; width:90px;  background-color:transparent; border:1px solid #fff; border-radius:2px; color:#fff; }
.view a.info:hover {  -webkit-box-shadow:0 0 5px #000;  -moz-box-shadow:0 0 5px #000;  box-shadow:0 0 5px #000; background:#09a6da;  border:1px solid #09a6da;  }
.view-head {position:absolute; z-index:99999; padding:15px 0 0 15px;  color:#FFF; text-transform:uppercase; font-size:15px; font-weight:bold; }

.list-cities { border:1px solid #c7c7c6; overflow:hidden;}
.block { float:left; width:30%; margin:0 0 0 0; padding:0 10px;}
.block ul { margin:0; padding:0 0 0 15px;}
.block ul li { margin:0; padding:0; list-style:url(../images/list-bull.gif); line-height:27px; text-transform:uppercase; font-size:12px;}
.block ul li a {}
.block ul li a:hover {}
.block ul li span { color:#999}
}

@media (min-width:992px) and (max-width:1199px) {
/*.se-flisting .form-control.destination { width:500px !important; margin:0 5px 0 0 }
.se-flisting .form-control.date { width:194px !important; margin:0 5px 0 0 }*/
.se-flisting .form-control.dropdown { width:170px !important; margin:0 5px 0 0 }
.slider-block .star { float:left; width:27%; padding:8px 0 0 8px; margin:8px 0 12px 0;}	
.slider-block .star img { width:17%;}
.slider-block .deal { float:right; width:65%; background:url(../img/hotel-deal-bg.png) right 0 no-repeat; padding:10px 5px 12px 0; color:#FFF; font-size:13px; margin:5px 0 14px 0; text-align:right;}
.slider-block .price .pn-show { display:none;}
.slider-block .price .pn-hide {display:inline;}
.form-group.autowidth { width:49.3% !important; }
.form-group.middlewidth { width:24.5% !important;}
.form-group.smallwidth { width:24.5% !important;}
.form-group.newsmallwidth { width:18.1% !important; }
.form-group.searchwidth { width:24.5%; }
}

@media (min-width:768px) and (max-width:991px) {
/*.se-flisting .form-control.destination { width:690px !important; margin:0 5px 0 0 }
.se-flisting .form-control.date { width:223px !important; margin:0 5px 0 0 }
.se-flisting .form-control.dropdown { width:223px !important; margin:0 5px 0 0 }
.se-flisting .srch-btn-wrapper{ float:right; margin:5px 0 10px 0;}
.se-flisting .srch-btn-wrapper .btn{ float:right; width:685px; margin:0 5px 0 0 }*/

.slider-block .name {color:#1e7cb4; font-size:17px; padding:8px 0 0 8px;}
.slider-block .location { background:url(../img/location-icon.png) 8px 2px no-repeat;color:#555; font-size:15px; padding:0 0 0 28px;}
.slider-block .star { float:left; width:100%; padding:8px 0 0 8px; margin:8px 0 12px 0; }	
.slider-block .deal { float:right; width:100%; background:url(../img/hotel-deal-bg.png) right 0 no-repeat; padding:10px 5px 12px 0; color:#FFF; font-size:13px; margin:5px 0 14px 0;  text-align:right;}
.slider-block .price { float:left; width:50%; color:#b71d00; font-weight:bold; font-size:14px; padding:13px 0 10px 15px;  margin:0 0 0 0; text-align:left; border-bottom:1px solid #c7c7c6; border-right:none;}
.slider-block .price .pn-show {display:none;}
.slider-block .price .pn-hide {display:inline;}
.slider-block .facility { float:left; width:50%; border-right:1px solid #c7c7c6; padding:14px 0 1px 8px; border-bottom:1px solid #c7c7c6; }
.slider-block .facility .fa { color:#b2b2b1; padding:0 7px 11px 0; font-size:14px;}
.slider-block .details {background:#FFF; width:100%;}
.slider-block .details .fa { color:#b2b2b1; background:#FFF; display:block; padding:0 10px 0 10px; line-height:44px; font-size:25px; font-weight:bold; text-align:right;}
.slider-block .details a:hover { text-decoration:none;}
.top-hotels { float:left; width:100%; margin:15px 0 0 0; padding:0 0 15px 0}
.pop-hotels { float:right; width:100%; margin:15px 0 0 0; padding:0 0 15px 0 }
.view {width:33%; height:auto; float:left; overflow:hidden; position:relative; text-align:center; cursor:default; }
.view h2 {text-transform:uppercase; color:#fff; text-align:center;  position: relative;  font-size:17px;  padding:10px; background:#05355d;
margin:15px 0 0 0; z-index:9999; height:30px;}
.view-head {position:absolute; z-index:99999; padding:20px 0 0 15px;  color:#FFF; text-transform:uppercase; text-shadow:1px 1px #000; font-size:16px; }
.view .mask,.view .content {width:240px; height:284px; position:absolute; overflow:hidden; top:0; left:0;}
.view p { font-size:13px; position:relative; color:#fff; padding:7px 10px 10px; text-align:center;}
.view a.info {display: inline-block;text-decoration:none; padding: 7px 14px; background:#47d4ed; color: #fff;  text-transform:uppercase;}
.form-group.autowidth { width:49.3% !important; }
.form-group.middlewidth { width:24.4% !important;}
.form-group.smallwidth { width:24.4% !important;}
.form-group.newsmallwidth { width:17.6% !important; }
.form-group.searchwidth { width:24.4%;}

}

